html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
#container {
  width:80%;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

p{
  font-family: "LeagueGothic-Regular";
  text-align: center;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
  font-size: 14px;
}

a{
  text-align: center;
}
